<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Customer-Home-page</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/static/favicon.png" rel="icon">
    <link href="/static/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/ionicons.min.css" rel="stylesheet">
    <link href="/static/animate.min.css" rel="stylesheet">
    <link href="/static/font-awesome.min.css" rel="stylesheet">
    <link href="/static/venobox.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/static/style_home.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/5.5.3/esm/ionicons.min.js" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" style="height: 50px;">
        <div class="container">

            <div id="logo" class="pull-left">
                <h1 style="margin-left: 15px;"><a style="text-decoration: none;text-transform: capitalize; vertical-align: middle;" href="Entrepreneur_home#features" class="scrollto">StandOutLoud</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt=""></a> -->
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="Entrepreneur_home">Home</a></li>
                    <li><a href="index#about">About Us</a></li>
                    <li><a href="#more-features">Features</a></li>
                    <li><a href="UpdateProfile">Update Profile</a></li>
                    <li><a href="/">Logout</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </header><!-- End Header -->

    <main id="main">

        <!-- ======= Breadcrumbs Section ======= -->
        <section class="breadcrumbs">
        </section><!-- End Breadcrumbs Section -->


    </main><!-- End #main -->

    <!-- ======= More Features Section ======= -->
    <section id="more-features" class="section-bg" style="margin-top:-40px;" >
        <div class="container" >

            <div class="section-header" >
                <h3 class="section-title" style="margin-top:20px;">Features</h3>
                <span class="section-divider"></span>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="box wow fadeInLeft" style="width: 250px; margin-left: 7px;">
                        <div class="icon"><i style="font-size: 50px; margin-top: 10px;" class="far fa-bell"></i></div>
                        <h4 name="camera1"><a style="text-decoration: none;" href="ReceivedRequests/<ord>">New Requests</a></h4>
                        <p class="description">You can see all new requests made to you and accept or reject the request according to your choice<br> and availability.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="box wow fadeInLeft" style="width: 250px; margin-left: 7px;">
                        <div class="icon"><i style="font-size: 50px; margin-top: 10px;" class="fas fa-search-dollar"></i></div>
                        <h4 name="recycle"><a style="text-decoration: none;" href="ReceivedPayments">Payment History</a></h4>
                        <p class="description">You check payement History of your orders and provide you service to the user accordingly.</p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="box wow fadeInRight" style="width: 250px; margin-left: 7px;">
                        <div class="icon"><i style="font-size: 50px; margin-top: 10px;" class="far fa-comments"></i></div>
                        <h4 name="Drop-off"><a style="text-decoration: none;" href="ViewFeedback">Customer Feedbacks</a></h4>
                        <p class="description">You can see feedbacks given by customers for your orders.</p>
                    </div>
                </div>

                

            </div>
        </div>
    </section><!-- End More Features Section -->

    <!-- Vendor JS Files -->
    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap.bundle.min.js"></script>
    <script src="/static/jquery.easing.min.js"></script>
    <script src="/static/validate.js"></script>
    <script src="/static/wow.min.js"></script>
    <script src="/static/venobox.min.js"></script>
    <script src="/static/superfish.min.js"></script>
    <script src="/static/hoverIntent.js"></script>

    <!-- Template Main JS File -->
    <script src="/static/main.js"></script>

</body>

</html>