<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Give Feedbacks</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/static/favicon.png" rel="icon">
    <link href="/static/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- <link href="assets/img/cam.png" rel="cam"> -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i"
        rel="stylesheet">
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap" rel="stylesheet"> -->

    <!-- Vendor CSS Files -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/ionicons.min.css" rel="stylesheet">
    <link href="/static/animate.min.css" rel="stylesheet">
    <link href="/static/font-awesome.min.css" rel="stylesheet">
    <link href="/static/venobox.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/static/style_history.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">


</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" style="height: 50px;">
        <div class="container">

            <div id="logo" class="pull-left">
                <h1 style="margin-left: 15px;"><a style="text-decoration: none;text-transform: capitalize; vertical-align: middle;" href="Customer_home#features" class="scrollto">StandOutLoud</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt=""></a> -->
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="Customer_home#features">Home</a></li>
                    <li><a href="index#about">About Us</a></li>
                    <li><a href="Customer_home#features">Features</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </header><!-- End Header -->

    <main id="main">

        <!-- ======= Breadcrumbs Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <br>
                    <ol>
                        <br>
                        <li><a href="Customer_home#features">Home</a></li>
                        <li>Give Your Feedback</li>
                    </ol>
                    <br>
                </div>
            </div>
        </section><!-- End Breadcrumbs Section -->

        <section class="inner-page">
            <div class="container" id="camwrap" class="box wow fadeInLeft">
                <section id="more-features3" class="section-bg" style="text-align: center;">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="box wow fadeInLeft">
                                    
                                    <h3 class="section-title" name="cam" id="camtext"
                                        style="text-align: center; color: black; ">Give Your Feedback</h3>
                                    <div class="section-header1">
                                        <span class="section-divider"></span>
                                    </div>

                                    <p class="description" style="color: black; text-align: center; ">
                                        <br>
                                        Please give your feedback to the business owner about your order.<br>
                                        <br>
                                        <form action="{{url_for('GiveFeedback', f=feedback)}}">
                                        Feedback: <input style="width: 140px;" name="feedback" >
                                    </form>
                                        <div id="Register" class="section-title">
                                            <p style="float: center;">
                                                
                                                    <form action="/" method="post">
                                                        
                                                            <button class="button5 button1" id="submit1" style="margin: 10px 0 20px; padding: 10px 30px 10px 30px;"><a style="text-decoration: none;color: white;" href="Customer_home"  >Back</a>
                                                            </button>
                                                            <button class="button5 button1" id="submit1" style="margin: 17px 0 20px 10px"><a style="text-decoration: none;color: white;" href="{{url_for('GiveFeedback')}}"  >Submit</a>
                                                            </button>
                                                        
                                                    </form>
                                                
                                            </p>
                                        </div>
                                    </p>

                                </div>
                            </div>
                            
                </section>

            </div>

        </section>

    </main><!-- End #main -->

    <!-- Vendor JS Files -->
    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap.bundle.min.js"></script>
    <script src="/static/jquery.easing.min.js"></script>
    <script src="/static/validate.js"></script>
    <script src="/static/wow.min.js"></script>
    <script src="/static/venobox.min.js"></script>
    <script src="/static/superfish.min.js"></script>
    <script src="/static/hoverIntent.js"></script>

    <!-- Template Main JS File -->
    <script src="/static/main.js"></script>

</body>

</html>