<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>Buy-Products</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Favicons -->
    <link href="/static/favicon.png" rel="icon">
    <link href="/static/apple-touch-icon.png" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i"
      rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/ionicons.min.css" rel="stylesheet">
    <link href="/static/animate.min.css" rel="stylesheet">
    <link href="/static/font-awesome.min.css" rel="stylesheet">
    <link href="/static/venobox.css" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="/static/style_history.css" rel="stylesheet">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/5.5.3/esm/ionicons.min.js" rel="stylesheet">
  
  </head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" style="height: 50px;">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1 style="margin-left: 15px;"><a style="text-decoration: none;text-transform: capitalize; vertical-align: middle;" href="index" class="scrollto">StandOutLoud</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt=""></a> -->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="index">Home</a></li>
          <li><a href="#about">About Us</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Intro Section ======= -->
  <section id="intro" style="height: 600px;" >

    <div class="intro-text">
      
      <h2 style="margin-top: 330px;">Welcome to StandOutLoud</h2>
      <br>
      <p>We are team of talented designers that are helping women to grow their local stores and cottage industries or home based Businesses.
      </p>
      <!-- <span class="section-divider"></span> -->

      <br>
      <br>
      <a style="text-decoration: none;" href="Login" class="btn-get-started " class="login">Login</a>
      <a style="text-decoration: none;" href="register" class="btn-get-started" class="Sign Up">Sign Up</a>
    </div>


  </section><!-- End Intro Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="section-bg">
      <div class="container-fluid">
        <div class="section-header">
          <h3 class="section-title">About Us</h3>
          <span class="section-divider"></span>
          <p class="section-description">
            We help women to grow small Businesses and also give them new job opportunities.
          </p>
        </div>

      </div>
    </section><!-- End About Section -->

  </main><!-- End #main -->



  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/jquery.min.js"></script>
  <script src="/static/bootstrap.bundle.min.js"></script>
  <script src="/static/jquery.easing.min.js"></script>
  <script src="/static//validate.js"></script>
  <script src="/static/wow.min.js"></script>
  <script src="/static/venobox.min.js"></script>
  <script src="/static/superfish.min.js"></script>
  <script src="/static/hoverIntent.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/main.js"></script>


</body>

</html>