<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Investor-Home-page</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/static/favicon.png" rel="icon">
    <link href="/static/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/ionicons.min.css" rel="stylesheet">
    <link href="/static/animate.min.css" rel="stylesheet">
    <link href="/static/font-awesome.min.css" rel="stylesheet">
    <link href="/static/venobox.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/static/style_Investor.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" style="height: 50px;">
        <div class="container">

            <div id="logo" class="pull-left">
                <h1 style="margin-left: 15px;"><a href="Investor_home" class="scrollto" style="text-decoration: none;text-transform: capitalize; vertical-align: middle;">StandOutLoud</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt=""></a> -->
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="Investor_home">Home</a></li>
                    <li><a href="index">About Us</a></li>
                    <li><a href="Investor_home">Features</a></li>
                    <li><a href="/">Logout</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </header><!-- End Header -->

    <main id="main">

        <!-- ======= Breadcrumbs Section ======= -->
        <section class="breadcrumbs">
        </section><!-- End Breadcrumbs Section -->


    </main><!-- End #main -->

    <!-- ======= More Features Section ======= -->
    <section id="more-features" class="section-bg" style="margin-top: -35px;">
        <div class="container">

            <div class="section-header" style="margin-top: -50px;">
                <h3 class="section-title">Features</h3>
                <span class="section-divider"></span>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="box wow fadeInLeft" style="width: 255px; margin-left: 5px;">
                        <div class="icon"><i style="margin-top: 20px; font-size: 44px;" class="fas fa-store"></i></div>
                        <h4 name="camera1"><a style="text-decoration: none;" href="Investor_ViewBusinesses">Local Businesses</a></h4>
                        <p class="description">You can see all local businesses their work and their ratings give to them.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="box wow fadeInLeft" style="width: 255px; margin-left: 5px;">
                        <div class="icon"><i style="margin-top: 20px; font-size: 50px;" class="far fa-chart-bar"></i></div>
                        <h4 name="recycle"><a style="text-decoration: none;" href="InvestorStatistic">Sales Predictions</a></h4>
                        <p class="description">You check statistics of Entrepreneurs Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>

                

            </div>
        </div>
    </section><!-- End More Features Section -->

    <!-- Vendor JS Files -->
    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap.bundle.min.js"></script>
    <script src="/static/jquery.easing.min.js"></script>
    <script src="/static/validate.js"></script>
    <script src="/static/wow.min.js"></script>
    <script src="/static/venobox.min.js"></script>
    <script src="/static/superfish.min.js"></script>
    <script src="/static/hoverIntent.js"></script>

    <!-- Template Main JS File -->
    <script src="/static/main.js"></script>

</body>

</html>