<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Investor-Home-page</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/static/favicon.png" rel="icon">
    <link href="/static/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/ionicons.min.css" rel="stylesheet">
    <link href="/static/animate.min.css" rel="stylesheet">
    <link href="/static/font-awesome.min.css" rel="stylesheet">
    <link href="/static/venobox.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/static/style_Investor.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" style="height: 50px;">
        <div class="container">

            <div id="logo" class="pull-left">
                <h1 style="margin-left: 15px;"><a href="index" class="scrollto">StandOutLoud</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt=""></a> -->
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="Entrepreneur_home">Home</a></li>
                    <li><a href="Entrepreneur_home">Features</a></li>
                    <li><a href="index">About Us</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </header><!-- End Header -->

    <main id="main">

        <!-- ======= Breadcrumbs Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <br>
                    <ol>
                        <br>
                        <li><a href="Entrepreneur_home">Home</a></li>
                        <li>Update Profile</li>
                    </ol>
                </div>

            </div>
        </section><!-- End Breadcrumbs Section -->



        <section class="inner-page">


            <section id="more-features4" class="Center2" class="section-bg" style="text-align: center; padding: 0px">

                <div class="container" id="box1" style="padding: 0px; max-height: 100vh; ">

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="box wow fadeInLeft"
                                style="padding: 0%; height: 500px; margin: 10px 10px 15px 8px; width: 330px">


                                <div>
                                    <img style="height: 100px;" src="/static/profile.jpg" />
                                </div>

                                <div class="section-header" style="margin-top: 10px;">
                                    <div class="section-title"
                                        style="font-size: 20px;  text-align: left; margin-left: 10px;">
                                        Business Name:
                                        <input value="Abc" style="width: 110px; margin-left: 28px;">
                                    </div><br>
                                    <div class="section-title"
                                        style="font-size: 20px; text-align: left; margin-left: 10px; margin-top: -18px;">
                                        Business Category:
                                        <select style=" width: 115px; margin-left: 2px;">
                                            <option value="volvo">Artistic</option>
                                            <option value="saab">Customized Clothing</option>
                                            <option value="mercedes">Catering</option>
                                        </select>
                                    </div><br>
                                    <div class="section-title"
                                        style="font-size: 20px; text-align: left; margin-left: 10px; margin-top: -18px;">
                                        <label for="waste">Vacancies:</label>
                                        <input type="number" value="13" style="width: 110px; margin-left: 80px;">
                                    </div>
                                    <div class="section-title"
                                        style="font-size: 20px; text-align: left; margin-left: 10px;">
                                        <label for="waste">Business Details:</label> <input value="Abc"
                                            style="width: 110px; margin-left: 20px;">
                                    </div>
                                    <div class="section-title"
                                        style="font-size: 20px; text-align: left; margin-left: 10px;">
                                        <label for="waste">Current sales:</label>
                                        <input value="120" type="number" style="width: 110px; margin-left: 48px;">
                                    </div>
                                    <div class="row">

                                        <div class="section-title"
                                        style="font-size: 17px; text-align: left; margin-left: 15px;">
                                        Submit Profile Details:                                                    
                                        <button style=" width: 60px; margin: 25px 14px -15px ;font-size: 15px; padding:5px;"
                                                class="button3 button1" id="upload1" value="Submit" type="submit">Submit</button>
                                        </div>

                                        <div class="section-title"
                                        style="font-size: 17px; text-align: left; margin-left: 15px;">
                                        Predict Future Sales:                                                               
                                        <button style=" width: 60px; margin: 20px 14px 15px 27px;font-size: 15px; padding:5px;"
                                                class="button3 button1" id="upload1" value="Submit" type="submit">OK</button>
                                        </div>

                                        <!-- <div style="width: 380px; height: 100px ">
                                            <br>
                                            <button style=" width: 258px; margin: 20px 14px -15px ;"
                                                class="button3 button1" id="upload1"><b>Submit Profile
                                                    Details</b></button>
                                        </div> -->
                                    </div>
                                    <!-- <div class="row">
                                        <div style="width: 380px; height: 100px ">
                                            <br>
                                            <button style=" width: 258px; margin: 0px 14px -25px ;"
                                                class="button3 button1" id="upload1"><b>Predict future
                                                    Sales</b></button>
                                        </div>
                                    </div> -->


                                </div>
                                <div>

                                    <form action="" method="POST">

                                        <button id='input1'
                                            style="width: 220px; height: 40px; text-align: center; margin-top: 4px;">
                                            <input type="file" id="myFile" name="filename" style="width: 250px;">
                                        </button>
                                    </form>
                                    <div class="row" style="margin-top: -60px;">
                                        <div style="width: 380px; height: 100px; margin-left: -20px;">
                                            <br>
                                            <button class="button3 button1" id="upload1" style="width: 120px;font-size: 15px;padding:5px">Upload Image</button>
                                            <button class="button3 button1" id="upload1" style="width: 120px;font-size: 15px;padding:5px">Submit Image</button>
                                        </div>


                                    </div>

                                </div>
                                <div class="row1" style="margin-top: 0px;">

                                    <div class="column1">
                                        <!-- <img style="width: 100px;" src="./assets/img/intro-bg.jpeg">
                              <img style="width: 100px;" src="./assets/img/intro-bg.jpeg">
                              <img style="width: 100px;" src="./assets/img/intro-bg.jpeg"> -->
                                        <img style="width: 100px;" src="/static/intro-bg.jpeg">
                                        <img style="width: 100px;" src="/static/intro-bg.jpeg">
                                        <img style="width: 100px;" src="/static/intro-bg.jpeg">
                                    </div>
                                    <div class="column1">
                                        <img style="width: 100px;" src="/static/intro-bg.jpeg">
                                        <img style="width: 100px;" src="/static/intro-bg.jpeg">
                                        <img style="width: 100px;" src="/static/intro-bg.jpeg">
                                        <img style="width: 100px;" src="/static/intro-bg.jpeg">
                                        <img style="width: 100px;" src="/static/intro-bg.jpeg">

                                    </div>

                                </div>




                            </div>
                        </div>
                    </div>
                </div>



            </section>




            <div class="container" style="text-align: center;">

            </div>
        </section>
        <br>

    </main><!-- End #main -->



    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap.bundle.min.js"></script>
    <script src="/static/jquery.easing.min.js"></script>
    <script src="/static/validate.js"></script>
    <script src="/static/wow.min.js"></script>
    <script src="/static/venobox.min.js"></script>
    <script src="/static/superfish.min.js"></script>
    <script src="/static/hoverIntent.js"></script>

    <!-- Template Main JS File -->
    <script src="/static/main.js"></script>
</body>

</html>

<!-- <div>
    <section id="more-features" class="session_bg">
        <div class="col-lg-6" style="margin-left: 80px; " >
            <div class="box wow fadeInLeft" style="width: 150px; height: 150px;">
                <div class="icon"><i style="font-size: 60px; text-align: center; " class="ion-ios-plus-outline"></i></div>
            </div>
        </div>


    </section>

</div> -->